.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins

.history/
.vscode/
.flutter/
.idea/
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
